<template>
<div class="carousel-wrapper bg-secondary">
    <div class="carousel slide item">
    <ol class="carousel-indicators">
        <li v-for="(image, i) in imagesUrl" v-bind:key="i" v-bind:class="{ 'active' : tabsState[i] }" v-on:click="set(i)"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item" v-for="(image, i) in imagesUrl" v-bind:key="i" v-bind:class="{ 'active' : tabsState[i] }">
            <img :src="image" alt="image" style="margin: 0px auto; max-height: 600px; object-fit: cover; display: block; max-width: 100%;">
        </div>
    </div>
    <a class="carousel-control-prev" role="button" v-on:click="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" v-on:click="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>
</template>
<script>
export default {
    props: {
        imagesUrl: {
            type: Array,
            default: []
        }
    },
    data(){
        return {
            currentTab: 0
        }
    },
    methods: {
        next(){
            this.currentTab = (this.currentTab < this.imagesUrl.length - 1) ? this.currentTab + 1 : 0;
        },
        prev(){
            this.currentTab = (this.currentTab > 0) ? this.currentTab - 1  : this.imagesUrl.length - 1;
        },
        set(i){
            i = i | 0;
            this.currentTab = i;
        }
    },
    beforeMount(){
    },
    computed: {
        tabsState: function(){
            return this.imagesUrl.map((el, i) => {
                if(i == this.currentTab){
                    return true;
                }
                return false;
            });
        }
    }
}

</script>
<style scoped>

</style>