<template>
    <div id="create-hotel" class="album py-5 bg-light">
       <div class="container">
            <div class="card card-default mb-2">
                <div class="card-header">Завантаження картинки (max: 4096KB)</div>
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <input type="file" v-on:change="onImageChange" class="form-control">
                            </div>
                        </div>
                    </div>
                <div class="card-group">
                    <div class="card col-md-3" v-for="(img, i) in imagePreview" :key="i">
                       <div class="">
                            <button type="button" class="close" aria-label="Close" v-on:click="deleteImage(i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img class="card-img-top" :src="img" alt="Card image cap">
                    </div>
                </div>
            </div>
           <form class="form-group" @submit.prevent="createHotel" method="post">
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Назва готелю</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="input-name" v-model="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="input-rating" class="col-sm-2 col-form-label">Кількість зірок</label>
                <div class="col-sm-10">
                <select class="custom-select" name="input-rating" id="input-rating" v-model="selected_rating">
                    <option v-for="(rating, i) in ratingList" 
                    :key=i 
                    :value="rating.id">
                    {{ rating.value }} ({{ rating.EUR_value }})
                    </option>
                </select>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label class="text-info col-sm-2 col-form-label">Адреса: </label>
            </div>
            <div class="form-group row">
                <label for="input-city" class="col-sm-2 col-form-label">Місто</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="input-city" v-model="city">
                </div>
            </div>
             <div class="form-group row">
                <label for="input-street" class="col-sm-2 col-form-label">Вулиця</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="input-street" v-model="street">
                </div>
            </div>
            <div class="form-group row">
                <label for="input-house" class="col-sm-2 col-form-label">Будинок</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="input-house" v-model="house_address">
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Зберегти"/>
           </form>
       </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            name: '',
            selected_rating: -1,
            city: '',
            street: '',
            house_address: '',
            imageFileData: [],
            imagePreview: [],
            ratingList: []
        }
    },
    created(){
        this.fetchRatingList();
    },
    methods: {
        fetchRatingList(){
            fetch('/api/ratings', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
                if(res.length>0){
                    this.ratingList = res;
                }
            })
            .catch(err => console.log(err));
        },
        createHotel(){
            if(this.name.length === 0 || this.selected_rating === -1 || 
               this.city.length === 0 || this.street.length === 0 || 
               this.house_address.length === 0){
                alert("Перевірте дані!");
                return;
            }
            fetch("/api/hotel", {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'POST',
                body: JSON.stringify({
                    name: this.name,
                    stars: this.selected_rating,
                    city: this.city,
                    street: this.street,
                    house_address: this.house_address
                })
            })
            .then(res => res.json())
            .then(res => this.uploadImages(res.id))
            .catch(err=> console.log(err));
        },
        onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            reader.onload = (e) => {
                this.imageFileData.push(file);
                this.imagePreview.push(e.target.result);
            };
            reader.readAsDataURL(file);
        },
        uploadImages(id){
            if(this.imageFileData.length !== 0){
                this.uploadImage(id);
            }
            alert('Готель створено!');
            this.$router.push('/');
        },
        uploadImage(id){
            let fd = new FormData();
            fd.append('image', this.imageFileData.shift());
            fd.append('hotel_id', id);
            fetch('/api/image', {
                method: "POST",
                body: fd
            })
            .then(() => {
                if(this.imageFileData.length !== 0){
                    this.uploadImage(id);
                }
            })
        },
        deleteImage(id){
            this.imagePreview.splice(id, 1);
            this.imageFileData.splice(id, 1);
        }
    }
}
</script>
