<template>
    <div id="create-hotel" class="album py-5 bg-light">
       <div class="container">
           <form class="form-group" @submit.prevent="createRoom" method="post">
           
            <div class="form-group row">
                <label for="input-rating" class="col-sm-2 col-form-label">Готель</label>
                <div class="col-sm-10">
                <select class="custom-select" name="input-rating" id="input-rating" v-model="hotel_id">
                    <option v-for="(hotel, i) in hotels" 
                    :key=i 
                    :value="hotel.id">
                    {{ hotel.name }} ({{ hotel.city }})
                    </option>
                </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-1" class="col-sm-2 col-form-label">Кількість дорослих:</label>
                <div class="col-sm-10">
                <input type="number"  min="1" max="5" class="form-control" id="input-1" v-model="max_adult_count">
                </div>
            </div>
             <div class="form-group row">
                <label for="input-2" class="col-sm-2 col-form-label">Кількість дітей:</label>
                <div class="col-sm-10">
                <input type="number" min="0" max="4" class="form-control" id="input-2" v-model="max_child_count">
                </div>
            </div>
            <div class="form-group row">
                <label for="input-3" class="col-sm-2 col-form-label">Кількість людей всього:</label>
                <div class="col-sm-10">
                <input type="number"  min="1" max="9" class="form-control" id="input-3" v-model="max_peoples_count">
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Зберегти"/>
           </form>
       </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            hotels: [],

            hotel_id: null,
            max_adult_count: 1,
            max_child_count: 0,
            max_peoples_count: 1
        }
    },
    created(){
        this.fetchHotels();
    },
    methods: {
         fetchHotels(){
            fetch('/api/hotels', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
                if(res.length>0){
                    this.hotels = res;
                    this.currentHotels = res;
                    this.isSearchFailed = false;
                }
                else{
                    this.isSearchFailed = true;
                }
            })
            .catch(err => console.log(err));
        },
        createRoom(){
            if(this.hotel_id === null || this.max_adult_count<1 || this.max_adult_count>5 ||
                this.max_child_count<0 || this.max_child_count>4 || 
                this.max_peoples_count<1 || this.max_peoples_count>9){
                    alert('Перевірте дані!');
                    return;
            }
            fetch("/api/room", {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'POST',
                body: JSON.stringify({
                    hotel_id: this.hotel_id,
                    max_adult_count: this.max_adult_count,
                    max_child_count: this.max_child_count,
                    max_peoples_count: this.max_peoples_count
                })
            })
            .then(res => res.json())
            .then(() => {
                alert('Номер створено!');
                this.$router.push('/');
            })
            .catch(err=> console.log(err));
        }
    },
    computed: {
        
    }
}
</script>
