<template>
    <div id="booking-home">
        <div class="container bg-light shadow-sm">
            <div class="row">         
                <div class="col col-md-4 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-1 mt-3">
                    <span class="text-muted">Шукати</span>
                    <div>
                        <span class="badge badge-secondary badge-pill">{{ hotels.length }}</span>
                        <button class="btn" v-on:click="resetMatch">⭯</button>
                    </div>
                </h4>
                <form @submit.prevent="" method="post" class="card p-2">
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Місто" name="city"
                        v-model="city"
                        v-on:keydown="makeDataFiltering" v-on:change="makeDataFiltering">
                    </div>
                    <label><small>Дата заїзду</small></label>
                    <div class="input-group mb-2">
                    <input type="date" class="form-control" placeholder="Дата заїзду" name="start_date"
                        v-model="dateStart" :min="minDateStart" v-on:change="onStartDayChanged">
                    </div>
                    <label><small>Дата виїзду</small></label>
                    <div class="input-group mb-2">
                    <input type="date" class="form-control" placeholder="Дата заїзду" name="end_date"
                       v-model="dateEnd" :min="minDateEnd" v-on:change="makeDataFiltering">
                    </div>
                    <div class="form-group row mb-2 ">
                        <span class="col-sm-8 col-form-label">Кількість дорослих</span>
                        <div class="col-sm-4">
                            <select name="adult_count" id="adult_count" class="custom-select"
                                v-model.number="adultCount" v-on:change="makeDataFiltering">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2 ">
                        <span class="col-sm-8 col-form-label">Кількість дітей</span>
                        <div class="col-sm-4">
                            <select name="child_count" id="child_count" class="custom-select"
                                v-model.number="childCount" v-on:change="makeDataFiltering">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2 ">
                        <label class="col-sm-8 col-form-label">Кількість зірок</label>
                        <div class="col-sm-10 ml-3">
                            <div v-for="(rating, i) in ratingList" :key="i">
                                <input type="checkbox" 
                                :name="rating.id"
                                v-model="selected_ratings[i]"
                                v-on:change="makeDataFiltering">
                                <label for="rating.id">{{ rating.value }}</label>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <div class="col col-md-8 pt-3 pt-3">
                    <div class="card mb-3 shadow-sm" 
                        v-for="(hotel, i) in currentHotels" 
                        :key="i">

                        <div class="card-img-top bg-secondary" style="width: auto;">
                        <img class="custom-card-image"  
                            v-if="hotel.images_id[0]" 
                            :src="'/api/image/'+hotel.images_id[0].id" 
                            alt="Card image cap">
                        </div>
                        <h4 class="card-header">{{ hotel.name }}</h4>
                        <div class="card-body">
                            <p>Адреса: м. {{ hotel.city }}, вул. {{ hotel.street }}, {{ hotel.house_address }}</p>
                            <p>Кількість номерів: {{ hotel.rooms_count }}</p>
                            <p>
                                <span class="gold" 
                                    v-for="star in new Array(hotel.stars)" 
                                    :key="star">
                                    ★
                                </span>
                            </p>
                            <div>
                                <div class="float-left" v-if="hotel.recommendedRoomsId">
                                    <p class="text-success pt-2">
                                        Найкращих пропозицій: 
                                        <span class="text-body text-monospace">{{ hotel.recommendedRoomsId.length }}</span>
                                    </p>
                                </div>
                                <router-link :to="`/hotel/${hotel.id}/${dateStart}/${dateEnd}`" class="btn btn-info float-right">Переглянути номери в готелі</router-link>
                            </div>
                        </div>
                    </div>
                    <div v-if="currentHotels.length === 0">
                        <h2 class="mb-3">Нічого не знайдено!</h2>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            hotels: [],
            currentHotels: [],
            isSearchFailed: false,

            city: '',
            minDateStart: '',
            dateStart: '',
            minDateEnd: '',
            dateEnd: '',
            adultCount: 1,
            childCount: 0,

            roomOrders: [],
            ratingList: [],
            selected_ratings: []
        }
    },
    created(){
        this.fetchHotels();
        this.fetchRoomOrders();
        this.fetchRatingList();
        
        this.calculateDate();
    },
    methods: {
        calculateDate(){
            this.minDateStart = this.formatDate(new Date());
            this.dateStart = this.formatDate(new Date());

            let customDate = new Date();
                    customDate.setDate(customDate.getDate() + 1);
            this.minDateEnd = this.formatDate(customDate);
            this.dateEnd = this.formatDate(customDate);
        },
        fetchHotels(){
            fetch('/api/hotels', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
                if(res.length>0){
                    this.hotels = res;
                    this.currentHotels = res;
                    this.isSearchFailed = false;
                }
                else{
                    this.isSearchFailed = true;
                }
            })
            .catch(err => console.log(err));
        },
        fetchRoomOrders(){
            fetch('/api/orders', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
               this.roomOrders = res;
            })
            .catch(err => console.log(err));
        },
        fetchRatingList(){
            fetch('/api/ratings', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
                if(res.length>0){
                    this.ratingList = res;
                    this.ratingList.forEach(el => {
                        this.selected_ratings.push(true);
                    });
                }
            })
            .catch(err => console.log(err));
        },
        formatDate(date){
            let year = date.getFullYear();
            let month = date.getMonth();
            let day = date.getDate();

            // перетворюємо до вигляду yyyy-mm-dd для input[date] bind, перший місяць в js має значення 0  :(
            if(month<11){
                month++;
            } else{
                month = 1;
                year++;
            }
            
            if(month < 10){
                month = '0'+month;
            }
            if(day < 10){
                day = '0'+day;
            }
            return `${year}-${month}-${day}`;
        },
        onStartDayChanged(e){
            let customDate = new Date(e.srcElement.value);
            customDate.setDate(customDate.getDate() + 1);

            this.minDateEnd = this.formatDate(customDate);
            this.dateEnd = this.formatDate(customDate);

            this.makeDataFiltering();
        },
        makeDataFiltering(){
            this.currentHotels = this.hotels.slice();
            this.currentHotels = this.setFilterByCity(this.currentHotels);
            this.currentHotels = this.setFilterByDate(this.currentHotels);
            this.currentHotels = this.setFilterByRating(this.currentHotels);
            this.currentHotels = this.setFilterByRoomPeoples(this.currentHotels);

            this.$root.recommendedRoomsId = [];
            this.currentHotels.map(el => el.recommendedRoomsId).forEach(el => {
                this.$root.recommendedRoomsId = this.$root.recommendedRoomsId.concat(el);
            })
            
        },
        setFilterByCity(arr){
            return arr.filter(el => {
                return el.city.toLowerCase().indexOf(this.city.toLowerCase()) !== -1;
            });
        },
        setFilterByDate(arr){
            let sDate = new Date(this.dateStart).getTime();
            let eDate = new Date(this.dateEnd).getTime();

            let reservedRooms = [];

            // знаходимо зайняті кімнати, провіряючи їхній час замовлень
            this.roomOrders.forEach(el => {
                let sOrder = new Date(el.start_date).getTime();
                let eOrder = new Date(el.end_date).getTime();

                if( !(eDate <= sOrder || sDate > eOrder) ){
                    reservedRooms.push(el.room_id);
                }
            });
            // повертаємо готелі, в яких є вільні номери, і їх id
            return arr.filter((el, i, array) => {
                let freeRoomsId = [];
                for(let i = 0; i < el.rooms.length; i++){
                    if(reservedRooms.indexOf(el.rooms[i].id) === -1){
                       freeRoomsId.push(el.rooms[i].id);
                    }
                }
                if(freeRoomsId.length > 0){
                    array[i].recommendedRoomsId = freeRoomsId;
                    return true;
                }
                return false;
            })
        },
        setFilterByRating(arr){
            // якщо не вибрано значень, або вибрано всі - пропускаємо
            if(this.selected_ratings.indexOf(true) === -1 || this.selected_ratings.indexOf(false) === -1)
                return arr;
            // повертаємо вибрані кількість зірок, зі списку всіх можливих
            return arr.filter(el => {
                if(this.selected_ratings.find((r, index) => r === true && this.ratingList[index].stars_count === el.stars)){
                    return true;
                } else {
                    return false;
                }
            })
        },
        setFilterByRoomPeoples(arr){
            return arr.filter(el => {
                let freeRooms = [];
                el.rooms.forEach(room => {
                    if(this.adultCount <= room.max_adult_count && 
                        this.childCount <= room.max_child_count && 
                        this.adultCount + this.childCount <= room.max_peoples_count){
                            freeRooms.push(room.id);
                    }
                })
                if(freeRooms.length>0){
                    el.recommendedRoomsId = el.recommendedRoomsId.filter(roomId => {
                        return freeRooms.indexOf(roomId) !== -1;
                    });
                    return true;
                }
                else{
                    return false;
                }
                
            });
        },
        resetMatch(){
            this.city = '';
            this.adultCount = 1;
            this.childCount = 0;
            this.selected_ratings.map((el, i, arr) => arr[i] = true);

            this.calculateDate();

            this.currentHotels = this.hotels;
            this.currentHotels.map(el => delete el['recommendedRoomsId']); 

            this.$root.recommendedRoomsId = [];
        }
    },
    computed: {
        
    }
}
</script>

<style scoped>
 #booking-home>.container{
    min-height: 600px;
 }
 #booking-home .custom-card-image{
    display: block; 
    object-fit: cover; 
    width: auto;
    max-width: 100%;
    margin: 0 auto; 
    max-height: 600px;
 }
 .gold{
     color: #FFD700;
 }
</style>
