<template>
    <div class="album py-5 bg-light">
       <div class="container">
           <div class="col-md-12">
              <div class="card mb-4 shadow-sm" >
                <div class="card-body">
                  <carousel :images-url="imagesLinksArray"></carousel>
                  <h3 class="mt-3">{{ hotel.name }}</h3>
                  <p class="card-text">Адреса: м. {{ hotel.city }}, вул. {{ hotel.street }}, {{ hotel.house_address }}</p>
                  <p class="card-text">Кількість номерів: {{ hotel.rooms_count }}</p>
                  <p>
                    <span class="gold" 
                        v-for="star in new Array(hotel.stars)" 
                        :key="star">
                        ★
                    </span>
                  </p>
                </div>
              </div>
              <hr>
              <h2 v-if="recommendedRooms.length > 0">Рекомендовані для вас<span class="gold">*</span> </h2>
              <div class="row" v-if="recommendedRooms.length > 0">
                    <div class="col-md-4" v-for="(room, i) in recommendedRooms" :key="i">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Всього місць: {{ room.max_peoples_count }}</li>
                                    <li class="list-group-item">Кількість дорослих осіб: {{ room.max_adult_count }}</li>
                                    <li class="list-group-item">Кількість дітей: {{ room.max_child_count }}</li>
                                </ul>
                                <p class="mt-3 mb-1">В період з 
                                    <span class="text-monospace">{{ start_date }}</span> 
                                    по 
                                    <span class="text-monospace">{{ end_date }}</span> 
                                   <span v-if="isFree(room.id)" class="text-success">Вільний!</span>
                                    <span v-else class="text-danger">Зайнятий!</span></p>
                            </div>
                            <button class="btn btn-success" 
                                v-if="start_date"  
                                v-bind:disabled="!isFree(room.id)"
                                v-bind:class="{'disabled': !isFree(room.id)}"
                                v-on:click="orderRoom(room.id)">
                                Забронювати
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <h2>Всі номери: </h2>
              <div class="row">
                  <div class="col-md-4" v-for="(room, i) in hotel.rooms" :key="i">
                      <div class="card mb-4 shadow-sm">
                          <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">Всього місць: {{ room.max_peoples_count }}</li>
                                <li class="list-group-item">Кількість дорослих осіб: {{ room.max_adult_count }}</li>
                                <li class="list-group-item">Кількість дітей: {{ room.max_child_count }}</li>
                            </ul>
                            <p v-if="start_date" class="mt-3 mb-1">В період з 
                                <span class="text-monospace">{{ start_date }}</span> 
                                по 
                                <span class="text-monospace">{{ end_date }}</span> 
                                <span v-if="isFree(room.id)" class="text-success">Вільний!</span>
                                <span v-else class="text-danger">Зайнятий!</span></p>
                          </div>
                         <button class="btn btn-success" 
                            v-if="start_date"  
                            v-bind:disabled="!isFree(room.id)"
                            v-bind:class="{'disabled': !isFree(room.id)}"
                            v-on:click="orderRoom(room.id)">
                            Забронювати
                        </button>
                      </div>
                  </div>
                 
              </div>
           </div>
       </div>
    </div>
</template>
<script>
export default {
    props: [
        'id',
        'start_date',
        'end_date'
    ],
    data(){
        return {
            hotel: {},
            roomOrders: []
        }
    },
    created(){
        this.fetchHotel();
        this.fetchRoomOrders();
    },
    methods: {
        fetchHotel(){
            fetch(`/api/hotel/${this.id}`, {
                headers: new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
                this.hotel = res;
            })
            .catch(err => console.log(err));
        },
        fetchRoomOrders(){
            fetch('/api/orders', {
                 headers:  new Headers({'Content-Type': 'application/json'})
            })
            .then(res => res.json())
            .then(res => {
               this.roomOrders = res;
            })
            .catch(err => console.log(err));
        },
        isFree(id){
            let room = this.hotel.rooms.find(el => el.id === id);
            if(typeof room === 'undefined'){
                return;
            }

            let sDate = new Date(this.start_date).getTime();
            let eDate = new Date(this.end_date).getTime();

            let reservedRooms = [];

            this.roomOrders.forEach(el => {
                let sOrder = new Date(el.start_date).getTime();
                let eOrder = new Date(el.end_date).getTime();

                if( !(eDate <= sOrder || sDate > eOrder) ){
                    reservedRooms.push(el.room_id);
                }
            });
            return reservedRooms.indexOf(id) === -1;
        },
        orderRoom(id){
            if(!confirm('Замовити номер на вказану дату?')){
                return;
            }
            fetch('/api/orders',  {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'POST',
                body: JSON.stringify({
                    room_id: id,
                    start_date: this.start_date,
                    end_date: this.end_date
                })
            })
            .then(res => res.json())
            .then(res => {
                alert("Номер заброньовано!");
                this.$router.push('/');
            })
            .catch(err => console.log(err));
        }
    },
     computed: {
        imagesLinksArray(){
            if(!this.hotel.images_id){
                return [];
            }
            return this.hotel.images_id.map(el => {
                return `/api/image/${el.id}`;
            });
        },
        recommendedRooms(){
            if(typeof this.$root.recommendedRoomsId === 'undefined' || typeof this.hotel.rooms === 'undefined'){
                return [];
            }
            return this.hotel.rooms.filter(el => {
                return this.$root.recommendedRoomsId.indexOf(el.id) !== -1; 
            });
        }
    }
}
</script>
<style scoped>
.gold{
     color: #FFD700;
 }
</style>
