<template>
    <div id="booking-navbar" class="my-navbar-container">
       <nav class="navbar navbar-expand-lg navbar-dark container">
        <router-link to="/" class="navbar-brand">MyBooking</router-link>
        <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            v-on:click="toggleBootstrapMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" v-bind:class="{'show': isBootstrapMenuOpened}">>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <router-link to="/home" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item dropdown">
                <a class="account-menu nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Адмін
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <router-link to="/create-hotel" class="dropdown-item" >Створити Готель</router-link>
                    <router-link to="/create-room" class="dropdown-item" >Створити номер в готелі</router-link>
                </div>
            </li>
            </ul>
           
        </div>
        
        </nav>
    </div>
</template>
<script>
export default {
    data(){
        return {
            isBootstrapMenuOpened: false
        }
    },
    methods: {
        toggleBootstrapMenu(){
           this.isBootstrapMenuOpened = !this.isBootstrapMenuOpened;
        }
    }
}
</script>

<style scoped>
    #booking-navbar{
        background-color: #222;
        border-color: #080808;
    }
</style>
